<div class="ui card regcard">
  <div style="padding: 10px; ">
      <h1>Dynamic User List</h1>
      <div class="container">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th *ngFor = "let column of headers.headers_alias ">
                    {{column}}
                  </th>
                  <th></th>  
                </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let value of valuesArray" >
                <td *ngFor = "let column of headers.headers" ng-click="log(value)">
                  {{value[column]}} 
                </td>
                <td><a href="javascript:void(0);"><img src="/assets/user_details.png" width="20" height="20" /></a></td>
                <!--(click) = showUserDetails(userDetail.id) -->  
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
 </div>
