<div class="ui card regcard">
    <div style="padding: 10px; ">
        <h1>User List</h1>
        <div class="container">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userDetail of userDetails">
                  <td>{{ userDetail.id }}</td>
                  <td>{{ userDetail.firstname }}  {{userDetail.lastname}}</td>
                  <td><a href="javascript:void(0);" (click) = showUserDetails(userDetail.id) ><img src="/assets/user_details.png" width="20" height="20" /></a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>

  <div *ngIf=displayDetails class="ui card regcard">
    <div class="header"><h4 class="ui dividing header headerformat">User Details</h4></div>
      <div class="row border lblformat"> 
          <div class="two columns lblformat fontbold">
            <p>Name: </p>
          </div>
          <div class="four columns lblformat">
            <p>{{selectedUser.firstname}} {{selectedUser.lastname}} </p>
          </div>
          <div class="two columns lblformat  fontbold">
            <p>User Id: </p>
          </div>
          <div class="four columns lblformat">
            <p>{{selectedUser.id}}</p>
          </div>
      </div>
      <div class="row border lblformat "> 
        <div class="two columns lblformat fontbold">
          <p>Address: </p>
        </div>
        <div class="ten columns lblformat">
          <p>{{selectedUser.address}}</p>
        </div>
      </div>
      <div class="row border lblformat "> 
        <div class="two columns lblformat fontbold">
          <p>City: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.city}}</p>
        </div>
        <div class="two columns lblformat fontbold">
          <p>Country: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.country}}</p>
        </div>
        <div class="two columns lblformat fontbold">
          <p>Pin Code: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.pincode}}</p>
        </div>
      </div>
      <div style="padding: 10px">
        <button (click)="closeDetails()" class="ui primary button">
          Close
        </button>
      </div>
    </div>

