<div class="ui card regcard">
    <div style="padding: 10px; ">
        <form class="ui form" [formGroup]="queryForm">
            <div class="header"><h4 class="ui dividing header">Search Criteria</h4></div>
            <div class="five fields">
                    <label style="padding: 10px">Id: </label>
                    <input type="text" name="id" style="padding: 10px" placeholder="Id" formControlName = "id">
            </div>
              
              <button (click) = "searchUser()" class="ui primary button">
                    Search
              </button>
              <button (click) = "exitForm()" class="ui button">
                    Cancel
              </button>
        </form>  
    </div>
    
    <div *ngIf="recordFound" style="padding: 10px; ">
        <div class="container">
            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let userDetail of userList">
                  <td>{{ userDetail.id }}</td>
                  <td>{{ userDetail.firstname }}  {{userDetail.lastname}}</td>
                  <td><a href="javascript:void(0);"><img src="/assets/user_details.png" (click)=showDetails(userDetail.id) width="20" height="20"/></a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
<div *ngIf="userDoesNotExist" class="ui card regcard">
  <div style="padding: 10px; height: 250px;">
    <!--div style="text-align: center; left: 50%;"><b>User does not exist with User Id : {{queryForm.value.id}}</b></div-->
    <div style="text-align: center; left: 50%;"><b>{{errorMessage}}</b></div>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>

<div *ngIf=displayDetails class="ui card regcard">
    <div class="header"><h4 class="ui dividing header headerformat">User Details</h4></div>
      <div class="row border lblformat"> 
          <div class="two columns lblformat fontbold">
            <p>Name: </p>
          </div>
          <div class="four columns lblformat">
            <p>{{selectedUser.firstname}} {{selectedUser.lastname}} </p>
          </div>
          <div class="two columns lblformat  fontbold">
            <p>User Id: </p>
          </div>
          <div class="four columns lblformat">
            <p>{{selectedUser.id}}</p>
          </div>
      </div>
      <div class="row lblformat"> 
        <div class="two columns lblformat fontbold">
          <p>Address: </p>
        </div>
        <div class="four columns lblformat">
          <p>{{selectedUser?.address}} </p>
        </div>
        <div class="two columns lblformat fontbold">
          <p>Date Of Birth: </p>
        </div>
        <div class="four columns lblformat">
          <p>{{selectedUser?.dateofbirth | date: 'yyyy-MM-dd'}}</p>
        </div>
    </div>



      <div class="row border lblformat "> 
        <div class="two columns lblformat fontbold">
          <p>City: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.city}}</p>
        </div>
        <div class="two columns lblformat fontbold">
          <p>Country: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.country}}</p>
        </div>
        <div class="two columns lblformat fontbold">
          <p>Pin Code: </p>
        </div>
        <div class="two columns lblformat">
          <p>{{selectedUser.pincode}}</p>
        </div>
      </div>
      <div style="padding: 10px">
        <button (click)="closeDetails()" class="ui primary button">
          Close
        </button>
      </div>
    </div>

